@import "../variables-mixins.scss";
@import "../fonts.scss";

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;

  font-family: "TT Norms Pro", Arial, sans-serif;
  // font-style: normal;
  // font-weight: 400;
  // font-size: 15px;
  // line-height: 24px;
  color: $body-color;
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}


// body { background: rgb(43, 205, 175); }

h1 {
  font-weight: 800;
  font-size: 58px;
  // font-family: "TT Norms Pro", sans-serif;
}
