.article-wrapper {
  width: 700px;
  margin: 0 auto;
  font-size: 21px;
  font-weight: 400px;
  line-height: 32px;
  font-style: normal;

  &__background {
    background-color: white;
  }

  &__list {
    // background-color: aqua;
    padding-left: 0;
  }

  &__list > li {
    margin-bottom: 10px;
  }

  &__image--panda {
    display: block;
    width: 600px;
    margin: auto;
    border-radius: 10px;
  }

  &__title {
    font-style: italic;
    color: gray;
    font-size: 17px;
  }
}

