.index-main-block{

  display: flex;
  flex-direction: row;
  width: 80%;
  outline: 3px solid violet;
  margin: 0 auto;

  &__figcaption {
    font-style: italic;
    color: gray;
    font-size: 15px;
  }

  &__title {
    font-size: 36px;
    line-height: 36px;
    text-decoration: none;
  }

  &__link {
    text-decoration: none;
    color: $body-color;
  }

  &__list {
    padding-left: 0px;
  }

  &__item {
    list-style-type: none;
  }

  &__info {
    font-size: 20px;
    line-height: 26px;
    color: $body-color;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 60%;

  }

}
