.main-footer {
  // background-color: rgb(195, 214, 83);
  background: transparent;
  position: relative;

  &__wrapper {
    // margin: 0 auto;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
  }

  &__logo {
    position: absolute;
    top: 30px;
    left: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 1px white;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #2d2d44;
    list-style-type: none;
    padding: 20px;
    border-radius: 50px;
  }

  &__item-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
  }




}
