.main-header {

  background: transparent;
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #2d2d44;
    list-style-type: none;
    padding: 20px;
  }

  &__link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: white;
    text-decoration: none;

  }

  &__text {
    text-align: center;

  }

  &__logo {
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px #333333;
    position: absolute;
    top: 20px;
    left: 80px;
  }

}

