.new-articles {

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__block {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 6px 14px rgb(0 0 0 / 5%);
    margin: 20px;
  }

  &__wrapper-text {
    padding: 0px 20px 0px 20px;
  }

  &__title {
    font-size: 30px;
    line-height: 36px;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  &__small-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0px;
  }

  &__info-paragraph {
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 15px;
  }

  &__link {
    text-decoration: none;
    color: $body-color;
  }

  &__info-bottom {
    margin-top: 8%;
    // margin-bottom: -5px;
  }


}
