/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: flex;
  align-items: flex-start;
  position: relative;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}





// ................................
.slider {
  margin-top: 30px;
  position: relative;
  padding: 0 100px;

  .slick-arrow {
    position: absolute;
    top: 30%;
    // margin: 30px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
  }

  .slick-arrow.slick-prev {
    left: 0;
    background: url('/source/img/svg/arrow-left.svg') 0 0 / 100% no-repeat;
  }

  .slick-arrow.slick-next {
    right: 0;
    background: url('/source/img/svg/arrow-right.svg') 0 0 / 100% no-repeat;
  }

  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      list-style-type: none;
      margin: 0 10px;
    }

    .slick-active {
      button {
        background-color: black;
        border: 1px solid #fff;
      }
    }

    button {
      font-size: 0;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .slider__image {
    width: 620px;
    height: auto;
    margin: 0 auto;
  }

}

.sliderbig {

  .sliderbig__item {
    text-align: center;
  }

}
