#fact-box {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin: 1px auto;
  padding: 15px;
  font-size: 1.3em;
  border: 1px solid #ddd;
}

.fact {
  text-align: center;
}

.source {
  text-align: center;
}

#loadFact {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0px 35px;
  border: 1px solid #ddd;
}