.text_center {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}

.image-preview {
    border-radius: 20px;
    box-shadow: 0 0 4px 1px #3668e8;
}

.color-logo {
    color: red;
}

.center-text__desc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hr-custom {
    margin-bottom: 3em;
    padding-bottom: 3em 0;
    border-bottom: solid 1px rgba(210, 215, 217, 0.75);
}

.info-text {
    color: #3668e8;
}

.description-video {
    margin-top: 2em;
}

.height-video {
    box-sizing: border-box;
    height: 620px;
    object-fit: contain;
}

@media screen and (max-width: 1200px) {
    .height-video {
        height: 390px;
    }
}

@media screen and (max-width: 980px) {
    .height-video {
        height: 290px;
    }
}

@media screen and (max-width: 480px) {
    .height-video {
        height: 190px;
    }
}