/* Box */
.box {
  border-radius: 0.375em;
  border: solid 7px rgba(20, 169, 228, 0.75);
  margin-bottom: 2em;
  padding: 1.5em;
}

.box> :last-child,
.box> :last-child> :last-child,
.box> :last-child> :last-child> :last-child {
  margin-bottom: 0;
}

.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}

.block-article {
  text-decoration: none;
  color: #7f888f !important;
  border: none;
}

.title-visible {
  display: none;
}

.title-unvisible {
  display: block;
}

@media screen and (max-width: 480px) {
  .block-article {
    display: flex;
    align-items: center;
  }

  .title-visible {
    display: block;
    font-size: 2em;
    padding-left: 0.5em;
  }

  .title-unvisible {
    display: none;
  }


}

.centertext-video {
  text-align: center;
}

.desc-top {
  margin-top: 2em;
}

mark {
  background-color: #fff2ea !important;
}

.center-text {
  text-align: center;
}

.code-blue {
  color: #0e82a9;
}

.code-green {
  color: #2f9c0a;
}

.code-red {
  color: #c92c2c;
}

.icon-devices {
      color: #3668e8;
      margin-right: auto;
      align-self: center;
      font-size: larger;
}

.soc-icon {
      color: #3668e8;
}

.name-author {
  color: #7f888f;
}

.figma-btn {
  display: flex;
}

.template-btn {
  align-self: flex-end;
}

.figma-block {
      border: solid 2px rgba(210, 215, 217, 0.75);
      padding: 10px;
      border-radius: 5px;
}

.div-none {
  visibility: hidden;
  display: none;
}

@media screen and (min-width: 1680px) {
.div-none {
  display: none;    
  }
}

/* @media screen and (min-width: 1681px) { .posts article:nth-last-child(1),
.posts article:nth-last-child(2),
.posts article:nth-last-child(3) {
  margin-bottom: 0;
}
} */