/* Box */
.box {
  border-radius: 0.375em;
  border: solid 7px rgba(20, 169, 228, 0.75);
  margin-bottom: 2em;
  padding: 1.5em;
}

.box> :last-child,
.box> :last-child> :last-child,
.box> :last-child> :last-child> :last-child {
  margin-bottom: 0;
}

.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}

.block-article {
  text-decoration: none;
  color: #7f888f !important;
  border: none;
}

.title-visible {
  display: none;
}

.title-unvisible {
  display: block;
}

@media screen and (max-width: 480px) {
  .block-article {
    display: flex;
    align-items: center;
  }

  .title-visible {
    display: block;
    font-size: 2em;
    padding-left: 0.5em;
  }

  .title-unvisible {
    display: none;
  }


}

.centertext-video {
  text-align: center;
}

.desc-top {
  margin-top: 2em;
}

mark {
  background-color: #fff2ea !important;
}

.center-text {
  text-align: center;
}

.code-blue {
  color: #0e82a9;
}

.code-green {
  color: #2f9c0a;
}

.code-red {
  color: #c92c2c;
}