/* Features */
.features {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 2em -3em;
  width: calc(100% + 3em);
}

.features article {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 0 3em 3em;
  position: relative;
  width: calc(50% - 3em);
}

.features article:nth-child(2n - 1) {
  margin-right: 1.5em;
}

.features article:nth-child(2n) {
  margin-left: 1.5em;
}

.features article:nth-last-child(1),
.features article:nth-last-child(2) {
  margin-bottom: 0;
}

.features article .icon {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  display: block;
  height: 10em;
  line-height: 10em;
  margin: 0 2em 0 0;
  text-align: center;
  width: 10em;
}

.features article .icon:before {
  color: #3668e8;
  font-size: 2.75rem;
  position: relative;
  top: 0.05em;
}

.features article .icon:after {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 0.25rem;
  border: solid 2px rgba(210, 215, 217, 0.75);
  content: "";
  display: block;
  height: 7em;
  left: 50%;
  margin: -3.5em 0 0 -3.5em;
  position: absolute;
  top: 50%;
  width: 7em;
}

.features article .content {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 100%;
}

.features article .content> :last-child {
  margin-bottom: 0;
  color: #7f888f;
}

@media screen and (max-width: 980px) {
  .features {
    margin: 0 0 2em 0;
    width: 100%;
  }

  .features article {
    margin: 0 0 3em 0;
    width: 100%;
  }

  .features article:nth-child(2n - 1) {
    margin-right: 0;
  }

  .features article:nth-child(2n) {
    margin-left: 0;
  }

  .features article:nth-last-child(1),
  .features article:nth-last-child(2) {
    margin-bottom: 3em;
  }

  .features article:last-child {
    margin-bottom: 0;
  }

  .features article .icon {
    height: 8em;
    line-height: 8em;
    width: 8em;
  }

  .features article .icon:before {
    font-size: 2.25rem;
  }

  .features article .icon:after {
    height: 6em;
    margin: -3em 0 0 -3em;
    width: 6em;
  }
}

@media screen and (max-width: 480px) {
  .features article {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: -moz-flex-start;
    -webkit-align-items: -webkit-flex-start;
    -ms-align-items: -ms-flex-start;
    align-items: flex-start;
  }

  .features article .icon {
    height: 6em;
    line-height: 6em;
    margin: 0 0 1.5em 0;
    width: 6em;
  }

  .features article .icon:before {
    font-size: 1.5rem;
  }

  .features article .icon:after {
    height: 4em;
    margin: -2em 0 0 -2em;
    width: 4em;
  }
}

@media screen and (max-width: 480px) {
  .features article .icon:before {
    font-size: 1.25rem;
  }
}

/* features-articles */


/* Features */
.features-articles {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 2em -3em;
  width: calc(100% + 3em);
}

.features-articles article {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 0 3em 3em;
  position: relative;
  width: calc(50% - 3em);
}

.features-articles article:nth-child(2n - 1) {
  margin-right: 1.5em;
}

.features-articles article:nth-child(2n) {
  margin-left: 1.5em;
}

.features-articles article:nth-last-child(1),
.features-articles article:nth-last-child(2) {
  margin-bottom: 0;
}

.features-articles article .icon {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  display: block;
  height: 10em;
  line-height: 10em;
  margin: 0 2em 0 0;
  text-align: center;
  width: 10em;
}

.features-articles article .icon:before {
  color: #3668e8;
  font-size: 2.75rem;
  position: relative;
  top: 0.05em;
}

.features-articles article .icon:after {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border-radius: 0.25rem;
  border: solid 2px rgba(210, 215, 217, 0.75);
  content: "";
  display: block;
  height: 7em;
  left: 50%;
  margin: -3.5em 0 0 -3.5em;
  position: absolute;
  top: 50%;
  width: 7em;
}

.features-articles article .content {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 100%;
}

.features-articles article .content> :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 980px) {
  .features-articles {
    margin: 0 0 2em 0;
    width: 100%;
  }

  .features article {
    margin: 0 0 3em 0;
    width: 100%;
  }

  .features-articles article:nth-child(2n - 1) {
    margin-right: 0;
  }

  .features-articles article:nth-child(2n) {
    margin-left: 0;
  }

  .features-articles article:nth-last-child(1),
  .features-articles article:nth-last-child(2) {
    margin-bottom: 3em;
  }

  .features-articles article:last-child {
    margin-bottom: 0;
  }

  .features-articles article .icon {
    height: 8em;
    line-height: 8em;
    width: 8em;
  }

  .features-articles article .icon:before {
    font-size: 2.25rem;
  }

  .features-articles article .icon:after {
    height: 6em;
    margin: -3em 0 0 -3em;
    width: 6em;
  }
}

@media screen and (max-width: 480px) {
  .features-articles article {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: -moz-flex-start;
    -webkit-align-items: -webkit-flex-start;
    -ms-align-items: -ms-flex-start;
    align-items: flex-start;
  }

  .features-articles article .icon {
    height: 6em;
    line-height: 6em;
    margin: 0 0 1.5em 0;
    width: 6em;
  }

  .features-articles article .icon:before {
    font-size: 1.5rem;
  }

  .features-articles article .icon:after {
    height: 4em;
    margin: -2em 0 0 -2em;
    width: 4em;
  }
}

@media screen and (max-width: 480px) {
  .features-articles article .icon:before {
    font-size: 1.25rem;
  }
}

.features article .radius::after {
  border-radius: 50%;
}

/* ANIMATION */
.article-link .block-article .rotate-center:hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}