@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");
@import '/assets/css/block.css';
@import '/assets/css/section-article.css';
@import '/assets/css/form.css';
@import '/assets/css/box.css';
@import '/assets/css/icon.css';
@import '/assets/css/image.css';
@import '/assets/css/list.css';
@import '/assets/css/actions.css';
@import '/assets/css/icons.css';
@import '/assets/css/contact.css';
@import '/assets/css/pagination.css';
@import '/assets/css/table.css';
@import '/assets/css/button.css';
@import '/assets/css/mini-posts.css';
@import '/assets/css/features.css';
@import '/assets/css/posts.css';
@import '/assets/css/sidebar.css';
@import '/assets/css/header.css';
@import '/assets/css/banner.css';
@import '/assets/css/menu.css';
@import '/assets/css/wrapper.css';
@import '/assets/css/basic.css';
@import '/assets/css/main.css';
@import '/assets/css/row.css';
@import '/assets/css/footer.css';
@import '/assets/css/main-section.css';
@import '/assets/css/type.css';
@import '/assets/css/all.css';
@import '/assets/css/scroll.css';
@import '/assets/css/swiper.css';
