.paragraph-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
}

.fixed-scroll {
  position: fixed;
  top: 0;
  right: 0;
}

#updown {
  height: 3.5em;
  width: 100px;
  position: fixed;
  top: 2em;
  right: 1px;
  cursor: pointer;
  z-index: 10;
}

#updown.up::before {
  content: "Вгору ⇑";
  background-color: #3668e8;
  color: #fff;
  padding: 15px;
  border-radius: 0.375em;
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------CUSTOM-SCROLLBAR-[START]------------- */
*::-webkit-scrollbar {
  width: 14px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #55658cdf;
  border-radius: 50px;
  border: 3px solid white;
}
/* -------------CUSTOM-SCROLLBAR-[END]------------- */

/* -------------CUSTOM-SELECTION-[START]------------- */
h1::selection {
  color: #3668e8;
}

h2::selection {
  color: #3668e8;
}

h3::selection {
  color: #3668e8;
}

p::selection {
  color: #3668e8;
}
/* -------------CUSTOM-SELECTION-[END]------------- */