@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/TTNormsPro-ExtraBold.woff2"),
    url("../fonts/TTNormsPro-ExtraBold.woff");
  font-display: swap;
}

