#meme-box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin: 1px auto;
  padding: 15px;
  font-size: 1.3em;
  border: 1px solid #ddd;
}

.meme {
  text-align: center;
  margin-bottom: 0;
}

.src {
  display: block;
  text-align: center;
  height: 400px;
  object-fit: contain;
}

#loadMeme {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0px 35px;
  border: 1px solid #ddd;
}

.relative-block {
  position: relative;
}

#spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -20px 0 0 -20px;
  border: 8px solid rgba(200, 232, 40, 0.815);
  border-top-color: rgb(28, 60, 176);
  border-radius: 50%;
  animation: spin 0.4s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#meme-box img {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

#meme-box img.show {
  opacity: 1;
  transform: scale(1);
}