<!DOCTYPE HTML>
<html>

<head>
	<title>Бібліотеки для верстки</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="icon" type="image/ico" href="../../../images/globe-solid.ico">
	<link rel="stylesheet" href="/../assets/css/main.css" />
	<script src="../../js/loader.js" async></script>
</head>

<body class="is-preload">
	<div class="loader-container" id="spinner-loader">
		<div class="loader-circle"></div>
	</div>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<div id="component-header"></div>
				<script src="../../js/components/component-header.js"></script>

				<a href="../../../services.html" class="button small btn-back">Назад</a>

				<!-- Content -->
				<section class="section-article">
					<header class="main">
						<h1>Бібліотеки для верстки</h1>
					</header>
					<div class="posts">
						<article>
							<h3>Animate CSS</h3>
							<a href="https://animate.style" class="image" target="_blank"><img src="./preview/1.jpg"
									alt="screen" /></a>
							<p>Потужна бібліотека, яка надає набір заданих готових до використання анімаційних класів до
								елементів.
							</p>
							<a href="https://animate.style" class="button" target="_blank">Перейти</a>
						</article>
						<article>
							<h3>Hover CSS</h3>
							<a href="https://ianlunn.github.io/Hover" class="image" target="_blank"><img
									src="./preview/2.jpg" alt="screen" /></a>
							<p>Бібліотека CSS, яка спеціалізується на анімаційних ефектах при наведенні курсора миші на
								елементи.
							</p>
							<a href="https://ianlunn.github.io/Hover" class="button" target="_blank">Перейти</a>
						</article>
						<article>
							<h3>CSS Animation</h3>
							<a href="https://www.cssanimation.io" class="image" target="_blank"><img
									src="./preview/3.jpg" alt="screen" /></a>
							<p>Бібліотека, яка надає готові анімаційні приклади та код CSS для використання у
								веб-проектах.
							</p>
							<a href="https://www.cssanimation.io" class="button" target="_blank">Перейти</a>
						</article>
						<article>
							<h3>Anime</h3>
							<a href="https://animejs.com" class="image" target="_blank"><img src="./preview/4.jpg"
									alt="screen" /></a>
							<p>Легка бібліотека анімації із простим, але потужним API. Працює з властивостями CSS, SVG,
								атрибутами DOM.
							</p>
							<a href="https://animejs.com" class="button" target="_blank">Перейти</a>
						</article>
						<article>
							<h3>GreenSock</h3>
							<a href="https://greensock.com" class="image" target="_blank"><img src="./preview/5.jpg"
									alt="screen" /></a>
							<p>Потужна бібліотека анімації для веб-розробки. GSAP пропонує широкий спектр функцій і
								можливостей.
							</p>
							<a href="https://greensock.com" class="button" target="_blank">Перейти</a>
						</article>
						<article>
							<h3>Додати матеріал</h3>
							<a href="../../../add-materials.html" class="image" target="_blank"><img
									src="./preview/plus.jpg" alt="screen" /></a>
							<p>Ви можете додати будь-який матеріал, який буде допомагати іншим людям навчатись у
								веб-розробці.
							</p>
							<a href="../../../add-materials.html" class="button" target="_blank">Додати</a>
						</article>

					</div>

				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="component-sidebar"></div>
		<script src="../../js/components/component-sidebar.js"></script>
	</div>

	<!-- Scripts -->
	<script src="/../assets/js/jquery.min.js"></script>
	<script src="/../assets/js/browser.min.js"></script>
	<script src="/../assets/js/breakpoints.min.js"></script>
	<script src="/../assets/js/util.js"></script>
	<script src="/../assets/js/main.js"></script>

</body>

</html>